html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  padding-bottom: 3em;
}
.header__information {
  display: none;
}
.header__nav {
  padding: 1em;
  width: 100%;
  position: fixed;
  background-color: #FFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  z-index: 99;
}
.header__nav__menu {
  display: inline-block;
  cursor: pointer;
  margin-right: 1.3em;
  width: 1.5em;
  height: 1.5em;
}
.header__nav__menu img {
  display: none;
}
.header__nav__menu img.--visible {
  display: inline-block;
}
.header__nav__logo {
  display: inline-block;
  width: 58%;
}
.header__nav__logo__link {
  text-decoration: none;
  color: #111;
}
.header__nav__logo__link__image {
  box-shadow: 0em 0.9em 1.5em 0em rgba(139, 139, 139, 0.2509803922);
  width: 2.3em;
  height: 2.3em;
  display: inline-block;
  padding: 0.8em 0.8em;
  margin-right: 0.5em;
}
.header__nav__logo__link__title {
  display: inline-block;
  vertical-align: text-bottom;
  text-align: center;
}
.header__nav__logo__link__title span {
  display: block;
  font-family: "Archivo";
  line-height: 0.75em;
  letter-spacing: 0.08em;
  font-size: 0.65em;
}
.header__nav__list {
  width: 100%;
  display: none;
  position: absolute;
  bottom: -12.5em;
  left: 0;
  background-color: #FFF;
  box-shadow: 0em 0.3em 0.25em 0em rgba(0, 0, 0, 0.2901960784);
  height: 12.35em;
}
.header__nav__list ul {
  padding: 2.75em 1.5em;
  list-style-type: none;
  padding-bottom: 0em;
}
.header__nav__list ul li {
  color: #111;
  font-family: "Archivo";
  font-size: 1em;
  font-weight: 700;
  line-height: 1.088125em;
  letter-spacing: -0.03em;
  text-decoration: none;
  margin-bottom: 1em;
}
.header__nav__list ul li a {
  padding: 0.5em 0em;
  text-decoration: none;
  color: #111;
}
.header__nav__list.--visible {
  display: block;
}
.header__nav__icons {
  display: inline-block;
  width: 25%;
  vertical-align: sub;
  text-align: end;
}
.header__nav__icons__icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}

.footer {
  background-image: url("assets/bg.png");
  padding-top: 3em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.footer__header {
  padding-left: 1.375em;
  padding-right: 1.375em;
}
.footer__header__logo {
  width: 15.319175em;
  height: 5em;
}
.footer__header__text {
  color: #777;
  font-family: "Archivo";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 1.5em 0em;
}
.footer__header__icons img {
  margin-right: 1em;
}
.footer__services {
  padding-left: 1.375em;
  padding-right: 1.375em;
  margin-top: 1.5em;
}
.footer__services__title {
  font-size: 2em;
  font-family: "Old Standard TT";
  color: #222;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 0.5em;
}
.footer__services__content {
  display: flex;
  justify-content: flex-start;
}
.footer__services__content ul {
  color: #777;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 700;
  line-height: 1.171875em;
  font-weight: 400;
  list-style: "+";
  padding-left: 0.5em;
  padding-right: 1em;
}
.footer__services__content ul li {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}
.footer__contact {
  margin-top: 1.5em;
  padding-left: 1.375em;
  padding-right: 1.375em;
}
.footer__contact__title {
  font-size: 2em;
  font-family: "Old Standard TT";
  color: #222;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 0.5em;
}
.footer__contact__content {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 2em;
}
.footer__contact__content__image {
  display: block;
}
.footer__contact__content__image img {
  width: 2.5em;
  height: 2.5em;
}
.footer__contact__content__text {
  display: inline-block;
  padding-left: 1.5em;
}
.footer__contact__content__text__title {
  display: block;
  font-size: 1em;
  font-family: "Old Standard TT";
  color: #222;
  font-weight: 400;
  line-height: 1.5em;
}
.footer__contact__content__text__description {
  color: #777;
  font-family: "Archivo";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 0.7em;
}

.copy {
  width: 100%;
  background-color: #F8F8F8;
}
.copy__text {
  padding: 1.375em;
  color: #222;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 700;
  line-height: 1.171875em;
}

.banner {
  margin-top: 1em;
  background-color: #333;
  padding: 2.5em 1.375em;
}
.banner__subtitle {
  color: #FFF;
  font-family: "Archivo";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
  width: 50%;
  padding-top: 1em;
}
.banner__title {
  font-family: "Old Standard TT";
  color: #FFF;
  font-size: 3.5em;
  font-weight: 400;
  line-height: normal;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.banner__buttonColor {
  width: 13.5em;
  background-color: #BEAD8E;
  border: none;
  height: 3.75em;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875em;
  line-height: 0.951875em;
  letter-spacing: 0.175em;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 0.8em;
}
.banner__buttonTransparent {
  width: 13.5em;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
  height: 3.75em;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875em;
  line-height: 0.951875em;
  letter-spacing: 0.175em;
  color: #FFF;
  cursor: pointer;
  margin-top: 0.8em;
}

.form {
  background-color: #222;
  padding: 2.5em 1.375em;
}
.form__text {
  color: #FFF;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 700;
  line-height: 1.171875em;
}
.form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #BEAD8E;
  color: #686868;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.025625;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.form__button {
  width: 15.625em;
  background-color: #BEAD8E;
  border: none;
  height: 3.75em;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875em;
  line-height: 0.951875em;
  letter-spacing: 0.175em;
  color: #FFF;
  cursor: pointer;
  margin-top: 1em;
}

.aboutus {
  margin-top: 2em;
  width: 100%;
  padding: 0em 1.375em;
}
.aboutus__subtitle {
  color: #777;
  font-family: "Archivo";
  font-size: 0.8125em;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: 0.175em;
  padding-bottom: 1.5em;
}
.aboutus__title {
  font-family: "Old Standard TT";
  color: #111;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1.2px;
  padding-bottom: 0.5em;
}
.aboutus__description {
  color: #777;
  font-family: "Archivo";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}
.aboutus__button {
  width: 13.5em;
  background-color: #BEAD8E;
  border: none;
  height: 3.75em;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875em;
  line-height: 0.951875em;
  letter-spacing: 0.175em;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 0.8em;
  margin-bottom: 2em;
}
.aboutus__article {
  display: flex;
  flex-direction: column;
}
.aboutus__article__image {
  width: 16.875em;
  margin: 0 auto;
}
.aboutus__article__image__img {
  width: 100%;
}
.aboutus__article__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5em 0em;
  width: 16.875em;
  margin: 0 auto;
}
.aboutus__article__content--black {
  background-color: #222;
}
.aboutus__article__content__logo {
  width: 4.25em;
  height: 3.12em;
  margin: 0 auto;
}
.aboutus__article__content__title {
  font-family: "Old Standard TT";
  color: #111;
  font-size: 1.875em;
  font-weight: 400;
  text-align: center;
  padding: 0.5em 0em;
}
.aboutus__article__content__title--white {
  color: #FFF;
}
.aboutus__article__content__description {
  color: #111;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 700;
  line-height: 1.171875em;
  text-align: center;
  padding: 0.5em 1em;
  font-weight: 400;
}
.aboutus__article__content__description--white {
  color: #FFF;
}

.rooms {
  padding: 0em 1.375em;
  margin-top: 2.5em;
}
.rooms__subtitle {
  color: #777;
  font-family: "Archivo";
  font-size: 0.8125em;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: 0.175em;
  padding-bottom: 1.5em;
  text-align: center;
}
.rooms__title {
  font-family: "Old Standard TT";
  color: #111;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1.2px;
  padding-bottom: 0.5em;
}
.rooms__icons {
  width: 70%;
  background-color: #FFF;
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-content: space-around;
  margin: 0 auto;
}
.rooms__icons__img {
  width: 1.5em;
  height: 1.5em;
}
.rooms article {
  text-align: center;
}
.rooms article h2 {
  font-size: 1.75em;
  font-family: "Old Standard TT";
  color: #222;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}
.rooms article h4 {
  color: #777;
  font-family: "Archivo";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 0em 2em;
}
.rooms article span {
  color: #BEAD8E;
  font-size: 2em;
  font-family: "Archivo";
  display: inline-block;
}
.rooms article p {
  color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  display: inline-block;
}

.swiper {
  width: 100%;
}
.swiper--rooms {
  height: auto;
}
.swiper--facilities {
  height: unset;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
  width: 3em;
  height: 3em;
  color: #FFF;
  background-color: #BDAC8D;
}
.swiper .swiper-button-prev--rooms, .swiper .swiper-button-next--rooms {
  transform: translateY(-170%);
}
.swiper .swiper-button-prev--menu, .swiper .swiper-button-next--menu {
  transform: translateY(420%);
}
.swiper .swiper-button-prev--menu {
  transform: translate(400%, 420%);
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 1em;
}
.swiper .swiper-button-disabled {
  background-color: #FFF;
  color: #111;
  font-weight: 700;
}
.swiper-pagination-bullet {
  background-color: #BDAC8D !important;
}

.video {
  padding: 2.5em 1.375em;
  margin-top: 1.5em;
  background-color: #222;
}
.video__subtitle {
  color: #BDAC8D;
  font-family: "Archivo";
  font-size: 0.8125em;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: 0.175em;
  padding-bottom: 1.5em;
}
.video__title {
  font-family: "Old Standard TT";
  color: #FFF;
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: -1.2px;
  padding-bottom: 0.5em;
}
.video__description {
  color: #C2C2C2;
  font-family: "Archivo";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}
.video__video {
  width: 100%;
  padding-bottom: 1.5em;
}
.video__button {
  width: 13.5em;
  background-color: #BEAD8E;
  border: none;
  height: 3.75em;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875em;
  line-height: 0.951875em;
  letter-spacing: 0.175em;
  color: #FFF;
  cursor: pointer;
}

.facts {
  width: 100%;
  padding: 2.5em 1.375em;
  background-color: #222;
  margin-top: 1.5em;
}
.facts__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}
.facts__content__logo {
  width: 4.875em;
  height: 5em;
  margin: 0 auto;
}
.facts__content__figures {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.facts__content__figures__number {
  display: inline-block;
  text-align: center;
  font-family: "Roboto";
  font-size: 3.75em;
  font-weight: 700;
  color: #FFF;
}
.facts__content__figures__plus {
  display: inline-block;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1em;
  color: #FFF;
  padding-bottom: 0.6em;
  padding-left: 0.5em;
}
.facts__content__text {
  font-family: "Roboto";
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  color: #999;
}

.facilities {
  width: 100%;
  padding: 0em 1.375em;
}
.facilities__subtitle {
  color: #777;
  font-family: "Archivo";
  font-size: 0.8125em;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: 0.175em;
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  text-align: center;
}
.facilities__title {
  font-family: "Old Standard TT";
  color: #111;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1.2px;
  padding-bottom: 0.5em;
}

.swiper-slide {
  width: 100%;
  padding-bottom: 2em;
}
.swiper-slide__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide__content__icon {
  width: 4.375em;
  height: 4.375em;
  bottom: 0;
}
.swiper-slide__content__number {
  color: rgba(34, 34, 34, 0.0392156863);
  font-family: "Archivo";
  font-size: 7.5em;
  font-weight: 700;
}
.swiper-slide__title {
  font-family: "Old Standard TT";
  color: #222;
  font-size: 1.875em;
  font-weight: 400;
}
.swiper-slide__description {
  color: #777;
  font-family: "Archivo";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
  padding-right: 2.5em;
}

.menu {
  width: 100%;
  padding: 2.5em 1.375em;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 1.5em;
}
.menu__header__subtitle {
  color: #777;
  font-family: "Archivo";
  font-size: 0.8125em;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: 0.175em;
}
.menu__header__icon {
  width: 7.15625em;
  height: 7.15625em;
}
.menu__title {
  font-family: "Old Standard TT";
  color: #222;
  font-size: 3.5em;
  font-weight: 400;
  padding-bottom: 0.5em;
}

.swiper-wrapper {
  width: 100%;
  padding-bottom: 2.5em;
}
.swiper-wrapper .content {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.swiper-wrapper .content__img {
  width: 7.5em;
  height: 7.5em;
  margin-right: 1em;
}
.swiper-wrapper .content h1 {
  font-family: "Old Standard TT";
  color: #222;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -0.72px;
  padding-bottom: 0.5em;
}
.swiper-wrapper .content p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/*# sourceMappingURL=style.css.map */
