html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

@import './styles/header.scss';
@import './styles/footer.scss';
@import './styles/banner.scss';
@import './styles/form.scss';
@import './styles/homeAbout.scss';
@import './styles/homeRooms.scss';
@import './styles/swiper.scss';
@import './styles/video.scss';
@import './styles/facts.scss';
@import './styles/facilities.scss';
@import './styles/menu.scss';
@import './styles/contact.scss';
@import './styles/contactInformation.scss';
@import './styles/contactForm.scss';
@import './styles/aboutUsIntroduction.scss';
