
@import './mixins.scss';

.counter {
    padding: 2.5em 1.375em;

    &__subtitle {
        @include subtitleArchivo(#777);
    }

    &__title {
        @include title (#222, 2.5em);
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 2em;
    }

    &__content {
        padding: 1em;

        &__article {
            width: 100%;
            display: flex;
            margin-bottom: 2em;
            align-items: center;

            &__icon {
                width: 4.0625;
                height: 4.0625;
                margin-right: 1.5em;
            }

            &__text {
                width: 100%;
                
                &__number {
                    @include title(#000, 3.75em);
                }

                &__subtitle {
                    @include textRoboto(#777);
                    line-height: 1em;
                    font-weight: 400;
                }
            }

            &__arrow {
                width: 2em;
                height: 2em;
            }
        }
    }
}