
@import './mixins.scss';

.restaurant {
    width: 100%;
    padding: 2.5em 1.375em;

    img {
        width: 100%;
        height: auto;
    }

    &__subtitle {
        @include subtitleArchivo (#777);
        padding: 1.5em 0em;
    }

    &__title {
        @include title (#222, 2.5em);
    }

    &__description {
        @include description (#777);
        padding: 1.5em 0em;
    }

    &__button {
        @include button (13.5em,#BEAD8E, none);
    }
}