
@import './mixins.scss';

.contact {
    margin-top: 1em;
    padding: 0em 1.375em;
    background-color: #333;

    &__subtitle {
        @include description(#FFF);
        width: 50%;
        padding-top: 3em;
    }

    &__title {
        @include title(#FFF, 3.5em);
        line-height: normal;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    &__indice {
        display: flex;
        justify-content: flex-end;

        &__color {
            background-color: #FFF;
            @include titleArchivo (#BDAC8D);
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-right: 1em;
            padding-left: 1em;
        }

        &__black {
            background-color: #FFF;
            @include titleArchivo (#222);
            padding-left: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
}