
@import './mixins.scss';

.facts {
    width: 100%;
    padding: 2.5em 1.375em;
    background-color: #222;
    margin-top: 1.5em;

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1.5rem;

        &__logo {
            width: 4.875em;
            height: 5em;
            margin: 0 auto;
        }

        &__figures {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &__number {
                display: inline-block;
                text-align: center;
                font-family: 'Roboto';
                font-size: 3.75em;
                font-weight: 700;
                color: #FFF;
            }
    
            &__plus {
                display: inline-block;
                text-align: center;
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 1em;
                color: #FFF;
                padding-bottom: 0.6em;
                padding-left: 0.5em;
            }
        }

        &__text {
            font-family: 'Roboto';
            text-align: center;
            font-weight: 700;
            font-size: 1em;
            color: #999;
        }
       
    }
}