
@import './mixins.scss';

.footer {
    padding-top: 3em;
    padding-left: 1.375em;
    padding-right: 1.375em;
    background-image: url('../assets/bg-footer.png');
    background-repeat: no-repeat;
    &__background {
        width: 100%;
        height: fit-content;
        background-color: rgba(255, 255, 255, 0.98);
    }

    &__header {
        &__logo {
            width: 15.319175em;
            height: 5em;
        }
        &__text {
            @include description(#777);
            padding: 1.5em 0em;
        }

        &__icons {
            
            img {
                margin-right: 1em;
            }
        }
    }
    
}