
@mixin button($width, $color, $border) {
    width: $width;
    background-color: $color;
    border: $border;
    height: 3.75em;
    font-family: 'Archivo';
    font-weight: 700;
    font-size: 0.875em;
    line-height: 0.951875em;
    letter-spacing: 0.175em;
    color: #FFF;
    cursor: pointer;
}

@mixin title ($color, $size) {
    font-family: 'Old Standard TT';
    color: $color;
    font-size: $size;
    font-weight: 400;
}

@mixin description ($color) {
    color: $color;
    font-family: 'Archivo';
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.5em;
}

@mixin textRoboto($color) {
    color: $color;
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 700;
    line-height: 1.171875em;
}

@mixin subtitleArchivo($color) {
    color: $color;
    font-family: 'Archivo';
    font-size: 0.8125em;
    font-weight: 700;
    line-height: 1.125em;
    letter-spacing:0.175em;
}

@mixin number ($color) {
    font-family: 'Archivo';
    font-size: 7.5em;
    font-weight: 700;
    line-height: 8.125em;
}

@mixin subtitleOldStandard($size) {
    font-size: $size;
    font-family: 'Old Standard TT';
    color: #222;
    font-weight: 400;
    line-height: 1.5em;
}

@mixin logo($background, $color) {
    background-color: $background;
    color: $color;
    font-family: 'Archivo';
    font-size: 2.5em;
    font-weight: 700;
    line-height: 2.6875em;
    padding: 1em;
}

@mixin titleArchivo($color) {
    color: $color;
    font-family: 'Archivo';
    font-size: 1em;
    font-weight: 700;
    line-height: 1.088125em;
    letter-spacing: -0.03em;
}