
@import './mixins.scss';

.roomsOffer {
    width: 100%;
    padding: 2em 1.375em;
    padding-top: 0;

    &__article {
        &__img {
            width: 100%;
        }

        &__price {
            width: 100%;
            display: flex;
            flex-direction: column;
            
            &__content {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 1em;
                padding-right: 0.5em;
                align-items: end;
                transform: translateY(400%);

                &__number {
                    font-family: 'Archivo';
                    font-weight: 700;
                    font-size: 2em;
                    text-decoration: line-through;
                    color: #BEAD8E;

                    &--red {
                        color: #DE5777;
                        text-decoration: none;
                    }
                }

                &__text {
                    font-family: 'Archivo';
                    font-weight: 700;
                    font-size: 0.75;
                    text-decoration: line-through;
                    color: #BEAD8E;

                    &--red {
                        color: #DE5777;
                        text-decoration: none;
                    }
                }
            }
        }

        &__subtitle {
            @include subtitleArchivo(#777);
            padding-top: 1em;
            padding-bottom: 1em;
        }

        &__title {
            @include title (#222, 2.5em);
            padding-bottom: 0.5em;
            
        }

        &__description {
            @include description (#777);
            padding-right: 2.5em;
            padding-bottom: 1em;
        }

        &__complement {
            display: flex;
            gap: 1.5em;
            padding-bottom: 1em;

            ul {
                list-style: none;

                li {
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 1em;
                    color: #777;
                    padding-bottom: 0.5em;
                }

                img {
                    margin-right: 0.5em;
                }
            }
        }

        &__button {
            @include button(15.625em, #BEAD8E, none);
        }
    }
}