
@import './mixins.scss';

.pageRoom {
    width: 100%;
    padding: 2em 1.375em;

    &__article {
        text-align: center;
        box-shadow: 0px 8px 16px 0px #8A8A8A0D;
        padding-bottom: 2em;

        &__title {
            @include subtitleOldStandard (1.75em);
            padding-top: 0.5em;
        }
    
        &__description {
            @include description(#777);
            padding: 0.5em 2em;
        }

        &__text {
            display: flex;
            justify-content: center;
            gap: 1em;

            &__price {
                font-family: 'Archivo';
                font-size: 1em;
                font-weight: 700;
                line-height: 17.41px;

                &--color {
                    color: #BEAD8E;
                }

                &--grey {
                    color: #BDBDBD;
                }
                
            }
        }

    }

    img {
        width: 100%;
    }

    
}