
@import './mixins.scss';

.swiper {
    width: 100%;

    &--rooms {
        height: auto;

    }

    &--facilities {
        height: unset;
    }

    .swiper-button-prev, .swiper-button-next {
        width: 3em;
        height: 3em;
        color: #FFF;
        background-color: #BDAC8D;
        
        &--rooms{
            transform: translateY(-220%);
        }

        &--menu {
            transform: translateY(420%);
        }
    }

    .swiper-button-prev {
        &--menu {
            transform: translate(400%, 420%);
        }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1em;
    }
    .swiper-button-disabled {
        background-color: #FFF;
        color: #111;
        font-weight: 700;
    }

    .swiper-pagination-bullet {
        background-color:  #BDAC8D !important;
    }

    .swiper-pagination-custom-bullet {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        margin: 0 5px;
        background: #FFF;
        color: #111;
        font-size: 1.5em;
        vertical-align: middle;
        cursor: pointer;
    }

    .swiper-pagination-custom-bullet-active {
        background: #BEAD8E;
        color: #FFF;
    }
}